@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --font-body: 'Lato', sans-serif;
  --font-headings: 'Lato', sans-serif;
  --background-color: #fff;
  --text-color: #fff;
}

.row {
  width: 1140px;
  margin: 0 auto;
}
header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/hero-1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/hero-1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  color: var (var(--text-color));
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 300%;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 200%;
  font-weight: 300;
}

h3 {
  font-size: 150%;
  font-weight: 400;
}
